<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="logbox">
            <div class="row aligncenter">
                <img width="200" src="/images/6b67235d-a062-4a0a-88c9-4d94cb11bbf6.jpg" alt="">
            </div>
            <div class="row aligncenter">
                <h6><b>W3lessons-Material Design Login form</b> </h6>
            </div>
            <div class="row">
                <div class="input-field col offset-s2 s8">
                    <i class="material-icons prefix">person</i>
                    <input id="icon_prefix" type="email" class="validate">
                    <label for="icon_prefix">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s2 s8">
                    <i class="material-icons prefix">lock</i>
                    <input id="icon_prefix" type="password" class="validate">
                    <label for="icon_prefix">Password</label>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col offset-s2">
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Remember me</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-s2 s8">
                        <button class="btn col s12 waves-effect waves-teal" type="submit" name="action">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-s1 s10">
                        <div class="col s6 align-content-center">
                            <a href="#">Register Now!</a>
                        </div>
                        <div class="col s6 align-content-center">
                            <a href="#">Forget Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>